{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "extends": [
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "rules": {
    // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
    // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    "semi": [2, "never"],
    "no-extra-semi": "off",
    "semi-style": "off",
    "react/prop-types": [1],
    "@typescript-eslint/no-var-requires": "off"
  },
  "plugins": ["react"]
}
