//npm.pkg.github.com/:_authToken=589ff7ef8b176a11463610cd2dd9199a5f8bd86e
@brandon-schabel:registry=https://npm.pkg.github.com/brandon-schabel
shared-workspace-shrinkwrap = true
link-workspace-packages = true
