.vel-tabs {
  display: flex;
  flex-direction: column;

  &-header {
    background-color: blue;
    &-button {
      &-selected {
        background-color: red;
      }
    }
  }

  &-content {

  }
}